.jumbotron1
{
    margin-top:1%;
    background-color:#ffffff;
    border-radius:.3rem;
    margin-right: 500px;
    margin-left: 500px;
}
@media (min-width:576px)
{
    .jumbotron1
    {
        padding:4rem 2rem;
        padding-bottom: 1rem;
        
    }
}

@media (min-width:10px)
{
    .jumbotron1
    {
        padding:4rem 2rem;
        padding-bottom: 1rem;
        
    }
}
.jumbotron1-fluid
{
    padding-right:0;
    padding-left:0;
    border-radius:0
}

.Register
{
    margin-top: 9%;
    font-size: 60;
}


.jumbotron2
{
    margin-bottom:60%;
}



.jumbotron2-fluid
{
    padding-right:0;
    padding-left:0;
    border-radius:0
}
